/* fonts do projeto */
@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular' ;
    src: url('../fonts/Poppins-Regular.otf');
}

:root{
    --color_background: #fffdf7;
    --color_black: #212121;
    --color_text: #4f4f4f;
    --color_text_out: #90908e;
    --color_primary: #ffb000;
    --color_secondary: #fff2cc;
    --color_white:#ffffff;
    --color_red: #e74c3c;
    --color_green:#2ecc71;
    --color_separate: #cccccc;
    
    --font-family: 'PoppinsRegular', 'Rubik', sans-serif;
}

html,body{
    background-color: var(--color_background);
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: var(--font-family);
    color: var(--color_text);
}


.logo .img_logo{
    width: 160px;
    max-width: 100%;
}

.menu{
    font-size: 1.6rem;
}
.menu ul li{
    padding: 1rem;
}

.nav-link{
    color: var(--color_black);
    padding: 0 3.5rem !important;
    transition: all .3s ease;
    font-weight: bold;
}
.nav-link:hover{
    color: var(--color_red);
    transition: all .3s ease;
}

